// Regular
@font-face {
  font-family: 'Wotfard';
  font-style: normal;
  font-weight: 400;
  font-display: 'swap';
  src: url(~assets/fonts/Wotfard-Regular.woff2) format('woff2');
}

// Italic
@font-face {
  font-family: 'Wotfard';
  font-style: italic;
  font-weight: 400;
  font-display: 'swap';
  src: url(~assets/fonts/Wotfard-Regular.woff2) format('woff2');
}

// Bold
@font-face {
  font-family: 'Wotfard';
  font-style: normal;
  font-weight: 700;
  font-display: 'swap';
  src: url(~assets/fonts/Wotfard-Regular.woff2) format('woff2');
}

// Bold Italic
@font-face {
  font-family: 'Wotfard';
  font-style: italic;
  font-weight: 700;
  font-display: 'swap';
  src: url(~assets/fonts/Wotfard-Regular.woff2) format('woff2');
}
