@mixin breakpoint($breakpoint, $type: min) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    @if $type == max {
      $value: $value - 1px;
    }
    @media only screen and (#{$type}-width: $value) {
      @content;
    }
  } @else {
    @error "no idea what ↔️ breakpoint you're talking about";
  }
}

@mixin cropImage($height: 100) {
  position: relative;
  padding-bottom: #{$height + '%'};
  width: 100%;
  height: 0;
  img,
  video {
    position: absolute;
    height: 100%;
    object-fit: cover;
  }
}
