// Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 250ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transition: opacity 200ms;
}

.slide-enter-active,
.slide-leave-active {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 350ms ease-in-out;
}

.slide-enter,
.slide-leave-to {
  max-height: 0;
  transition: max-height 350ms ease-in-out 150ms;
}
